<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="blue lighten-4">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo right">Biblioteca Impacta</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">

                    <li>@Html.ActionLink("Livro", "Index", "Livro")</li>
                    <li>@Html.ActionLink("Autor", "Index", "Autor")</li>
                </ul>
            </div>
        </nav>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').formSelect();
            $('.modal').modal();    

          
        });      
    </script>
  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>


</body>
</html>
