@model BibliotecaImpacta.Models.Emprestimo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alterar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Emprestimo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClienteId)
        @Html.HiddenFor(model => model.LivroId)
        @Html.HiddenFor(model => model.DataDevolucao)
        @Html.HiddenFor(model => model.DataEmprestimo)



        <div class="form-group">
            <div class="row">
                <p>@Html.LabelFor(model => model.DataDeEntregaDoLivro, htmlAttributes: new { @class = "control-label col-md-2" })</p>
                    @Html.EditorFor(model => model.DataDeEntregaDoLivro, new { htmlAttributes = new { @class = "form-control data" } })
                    @Html.ValidationMessageFor(model => model.DataDeEntregaDoLivro, "", new { @class = "text-danger" })
            </div>           
        </div>





        <div class="form-group">
            <button class="btn waves-effect waves-light" type="submit">
                Salvar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        $('.data').datepicker({ format: 'dd/mm/yyyy' });


    });
</script>
